html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.preload {
    font-size: 26px;
    margin: 20px;
}

.instruction {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 200px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    color: #fff;
    z-index: 9999;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.bg.sunrise {
    background: -webkit-linear-gradient(top, rgb(32, 64, 128) 0%, rgb(81, 88, 92) 40%, rgb(128, 112, 56) 80%, rgb(152, 124, 39) 100%);
    background: -o-linear-gradient(top, rgb(32, 64, 128) 0%, rgb(81, 88, 92) 40%, rgb(128, 112, 56) 80%, rgb(152, 124, 39) 100%);
    background: -ms-linear-gradient(top, rgb(32, 64, 128) 0%, rgb(81, 88, 92) 40%, rgb(128, 112, 56) 80%, rgb(152, 124, 39) 100%);
    background: -moz-linear-gradient(top, rgb(32, 64, 128) 0%, rgb(81, 88, 92) 40%, rgb(128, 112, 56) 80%, rgb(152, 124, 39) 100%);
    background: linear-gradient(to bottom, rgb(32, 64, 128) 0%, rgb(81, 88, 92) 40%, rgb(128, 112, 56) 80%, rgb(152, 124, 39) 100%);
}

.bg.noon {
    background: -webkit-linear-gradient(top, rgb(160, 160, 255) 0%, rgb(192, 192, 255) 100%);
    background: -o-linear-gradient(top, rgb(160, 160, 255) 0%, rgb(192, 192, 255) 100%);
    background: -ms-linear-gradient(top, rgb(160, 160, 255) 0%, rgb(192, 192, 255) 100%);
    background: -moz-linear-gradient(top, rgb(160, 160, 255) 0%, rgb(192, 192, 255) 100%);
    background: linear-gradient(to bottom, rgb(160, 160, 255) 0%, rgb(192, 192, 255) 100%);
}

.bg.sunset {
    background: -webkit-linear-gradient(top, rgb(0, 0, 16) 0%, rgb(0, 0, 56) 100%);
    background: -o-linear-gradient(top, rgb(0, 0, 16) 0%, rgb(0, 0, 56) 100%);
    background: -ms-linear-gradient(top, rgb(0, 0, 16) 0%, rgb(0, 0, 56) 100%);
    background: -moz-linear-gradient(top, rgb(0, 0, 16) 0%, rgb(0, 0, 56) 100%);
    background: linear-gradient(to bottom, rgb(0, 0, 16) 0%, rgb(0, 0, 56) 100%);
}

.bg.night {
    background: #000;
}

.android {
    height: 96px;
    width: 96px;
    background-image: url('../img/android.png');
}

.sky {
    height: 96px;
    width: 96px;
    background-size: 100% 100%;
    background-position: center;
    z-index: -1;
}

.pop {
    height: 150px;
    width: 150px;
    background-size: 100% 100%;
    background-position: center;
    margin: -5px 0;
    z-index: 999;
}

.sky.android {
    background-image: url('../img/android.png');
    height: 64px;
    width: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sky.android.half_margined {
    margin-top: -32px;
    margin-left: -32px;
}

.sky.moon {
    background-image: url('../img/moon.png');
}

.sky.star {
    background-image: url('../img/star.png');
    height: 10px;
    width: 10px;
}

.sky.sun {
    background-image: url('../img/sun.png');
}

.sky.cloud {
    background-image: url('../img/cloud.png');
    opacity: 0.5;
}

.sky.cloud_off {
    background-image: url('../img/cloud_off.png');
}

.pop.belt {
    background-image: url('../img/pop_belt.png');
}

.pop.droid {
    background-image: url('../img/pop_droid.png');
}

.pop.pizza {
    background-image: url('../img/pop_pizza.png');
}

.pop.stripes {
    background-image: url('../img/pop_stripes.png');
}

.pop.swirl {
    background-image: url('../img/pop_swirl.png');
}

.pop.vortex {
    background-image: url('../img/pop_vortex.png');
}

.pop.vortex2 {
    background-image: url('../img/pop_vortex2.png');
}

.pop_container {
    position: absolute;
    height: 100%;
    width: 150px;
    left: 95%;
    z-index: 1000;
    transition: all 250ms linear;
    transition-property: top, bottom;
}

.pop_container.bottom {
    transition-delay: 100ms;
}

.pop_container.top:not(.shown) {
    top: -100% !important;
}

.pop_container.bottom:not(.shown) {
    bottom: -100% !important;
}

.stick {
    background: -webkit-linear-gradient(left, rgb(173, 173, 173) 0%, rgb(227, 227, 227) 65%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(left, rgb(173, 173, 173) 0%, rgb(227, 227, 227) 65%, rgb(255, 255, 255) 100%);
    background: -ms-linear-gradient(left, rgb(173, 173, 173) 0%, rgb(227, 227, 227) 65%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(left, rgb(173, 173, 173) 0%, rgb(227, 227, 227) 65%, rgb(255, 255, 255) 100%);
    background: linear-gradient(to right, rgb(173, 173, 173) 0%, rgb(227, 227, 227) 65%, rgb(255, 255, 255) 100%);
    margin: 0 auto;
    width: 20px;
    height: 50%;
    z-index: -1;
}

.rotate {
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    -o-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.tilt {
    -webkit-animation: tilt 1s linear;
    -moz-animation: tilt 1s linear;
    -o-animation: tilt 1s linear;
    animation: tilt 1s linear;
}

@-o-keyframes spin {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes tilt {
    100% {
        -o-transform: rotate(85deg);
    }
}

@-moz-keyframes tilt {
    100% {
        -moz-transform: rotate(85deg);
    }
}

@-webkit-keyframes tilt {
    100% {
        -webkit-transform: rotate(85deg);
    }
}

@keyframes tilt {
    100% {
        -webkit-transform: rotate(85deg);
        transform: rotate(85deg);
    }
}